
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand candy">
  <%= link_to "CANDYMANDY", root_path %>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-left">
      <li class="nav-item active">
        <%= link_to "CREATE ARTİCLE", new_article_path %>
      </li>     
    </ul>    
  </div>
  <div class="navbar-right">
  <div class="login">
  <%= link_to "LOGİN", user_session_path%>
  |
  
  <%= link_to "REGİSTER", new_user_registration_path %>
  </div>
  </div>
</nav>