
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand candy">
  <%= link_to "CANDYMANDY", root_path %>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-left">
      <li class="nav-item active">
        <%= link_to "CREATE ARTİCLE", new_article_path %>
      </li>     
    </ul>    
  </div>
  <div class="navbar-right mr-3">
  <div class="login">
  <%= link_to "LOGİN", login_path %>
  |
  <%= link_to "SİGNUP", register_path %>

  </div>
  </div>
</nav>