<div class="container">
<div class="col">
</div>
<div class="col-6">
<h1>Hi; <br><%= @user.email %></h1>
<%= image_tag(current_user.avatar, alt: "avatar", class: "avatar", id: "avatar") %>
</div>
<div class="col">
</div>
</div>
